<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <a class="" href="{{ site.baseurl }}/landingpage">
                    <div class="logo pull-left">
                        <h1 class="h2"> 
<svg id="logo" class="pull-left" version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 	 x="0px" y="0px" width="40px" height="45px" viewBox="0 0 40 45" xml:space="preserve">
<g>
	<path class="fillgreen" d="M37,45H3c-1.7,0-3-1.3-3-3V3c0-1.7,1.3-3,3-3h34c1.7,0,3,1.3,3,3v39C40,43.7,38.7,45,37,45z"/>
	<g id="thunder_2_">
		<path class="fillwhite" d="M23,18.1l-2.6,2.2L7.2,5l11.2,22.8l2.6-2.2l13.2,15.3L23,18.1z M18.2,24.4l-6.4-12.6L21.4,23l1.8-1.5L29.6,34
			L20,22.9L18.2,24.4z"/>
	</g>
</g>
</svg>
      <b>MONITHOR</b></h1>
                        <small>Keeping an eye on your server</small> </div> </a>
                <a id="showhide" href="#">
                    <svg class="visible-xs pull-right" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="31.7px" height="26.4px" viewBox="0 0 31.7 26.4" xml:space="preserve">
                        <g>
                            <path class="fillgrey" d="M31.7,4c0,0.7-0.6,1.3-1.3,1.3H1.3C0.6,5.3,0,4.7,0,4V1.3C0,0.6,0.6,0,1.3,0h29.1c0.7,0,1.3,0.6,1.3,1.3V4z M31.7,14.5
		c0,0.7-0.6,1.3-1.3,1.3H1.3c-0.7,0-1.3-0.6-1.3-1.3v-2.6c0-0.7,0.6-1.3,1.3-1.3h29.1c0.7,0,1.3,0.6,1.3,1.3V14.5z M31.7,25.1
		c0,0.7-0.6,1.3-1.3,1.3H1.3c-0.7,0-1.3-0.6-1.3-1.3v-2.6c0-0.7,0.6-1.3,1.3-1.3h29.1c0.7,0,1.3,0.6,1.3,1.3V25.1z" />
                        </g>
                    </svg>
                </a>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <ul id="mikenav" class="nav navbar-nav navbar-right text-uppercase">
                    <li>
                        <a href="{{ site.baseurl }}/">Blog</a>
                    </li>
                    <li>
                        <a data-scroll href="#signupform">Sign up</a>
                    </li>
                </ul>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div class="rainbow"></div>
</nav>